* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
:root {
  --main-color: #fd6e0a;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background: var(--main-color);
  border: 0;
  border: 1px solid var(--main-color);
  padding: 18px 35px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #fff;
  color: var(--main-color);
  transition: 0.3s ease-in;
}
/* header start  */

#header {
  background-color: #fff8f3;
  position: relative;
  height: 100vh;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 570px;
}
#developer {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 70px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 230px;
}
.logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  cursor: pointer;
}
.logo span {
  color: var(--main-color);
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  margin-left: 50px;
}
.navbar ul li a:hover {
  color: var(--main-color);
  transition: 0.1s;
}
.navbar ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/* main container  */
.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 230px;
  padding-right: 40px;
}
.main-img {
  position: absolute;
  right: 30px;
  bottom: -5px;
}
#pro-pic {
  width: 400px;
  margin-top: 1px;
}
.main-info h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.main-info h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
}
.main-info p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  width: 55%;
}
.contact-btn {
  margin-top: 30px;
  display: flex;
}
.contact-btn .btn-primary {
  margin-right: 50px;
  padding: 18px 25px;
  display: flex;
  align-items: center;
}
.btn-primary .fa {
  margin-right: 10px;
  text-align: center;
}
.btn-primary .fa-download {
  margin-bottom: 3px;
}

.btn-2 {
  background-color: #fff;
  color: var(--main-color);
  padding: 18px 23px;
}
.btn-2:hover {
  color: #fff;
  background-color: var(--main-color);
}

/* about section  */

#about-section {
  width: 70%;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px auto;
  text-align: center;
  padding: 130px 60px;
}
.about-heading {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.about-des {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}
.about-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.about-box p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.about-box h4 {
  color: #474747;
  font-size: 18px;
}

/* skill section */

#skill-section {
  width: 83%;
  margin: 130px auto;
}
#skill-section .about-heading,
#skill-section .about-des {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
#skill-section .about-des {
  margin-top: 30px;
}
.skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.skill-box {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 33px;
  width: 265px;
  height: 375px;
}
.skill-box:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
.skill-box img {
  width: 45px;
}
.skill-box h4 {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.skill-box p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

/* resume section  */

#resume {
  width: 83%;
  margin: 130px auto;
}
.resume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 110px;
}
.resume-container hr {
  width: 95%;
  border: 0;
  border-top: 1px solid #d1d1d1;
  margin-top: 30px;
}
#resume .about-heading {
  text-align: center;
}
.resume-heading {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-box {
  width: 80%;
}
.resume-box h4 {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
}

.resume-box span {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.resume-box p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}
.resume-btn {
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
}

/* footer  */
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px 100px;
  background-color: #fff8f3;
}
.footer-left {
  flex-basis: 50%;
  align-self: start;
}
.footer-right {
  flex-basis: 50%;
}
.footer-left h2,
.footer-right h2 {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.footer-left p {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 35px;
}
#footer .social-icons {
  margin-top: 30px;
}
#footer .social-icons img {
  width: 24px;
  margin-right: 24px;
  cursor: pointer;
}
#form {
  margin-top: 45px;
}
#form input {
  display: block;
  margin-bottom: 24px;
}
#form input[type="text"],
#form input[type="email"] {
  width: 460px;
  height: 63px;
  padding: 18px 30px;
  border: 0;
  border-radius: 5px;
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}
#form input:focus,
#form textarea:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
#form textarea {
  width: 460px;
  height: 180px;
  border-radius: 5px;
  background: #fff;
  border: 0;
  padding: 18px 30px;
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  resize: none;
}
#form input[type="submit"] {
  padding: 20px 40px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 24px;
}
#form input[type="submit"]:hover {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 0.3s;
}

/* media query  */
/* media query  */
/* media query  */

@media screen and (max-width: 576px) {
  #header {
    background-image: none;
  }
  .main-container,
  .navbar {
    flex-direction: column;
    padding: 20px;
  }
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  #pro-pic {
    width: 190px;
  }
  .main-img {
    right: 8px;
  }
  #developer {
    display: none;
  }
  .navbar ul li {
    list-style: none;
    margin-left: 20px;
  }
  .main-info h1 {
    font-size: 40px;
  }
  .main-info h3 {
    font-size: 30px;
  }
  .main-info p {
    width: 80%;
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
  }
  .contact-btn {
    flex-direction: column-reverse;
    width: 215px;
  }
  .btn-primary {
    font-size: 16px;
  }
  .contact-btn .btn-primary {
    margin-right: 60px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  primary .fa-download {
    margin-bottom: 3px;
    margin-right: 6px;
  }
  .btn-primary.btn-2 {
    margin-bottom: 10px;
    width: 125px;
  }
  .contact-btn {
    margin-top: 50px;
  }
  .main-info {
    margin-top: 35px;
  }
  #about-section {
    margin: 70px auto;
  }
  #about-section {
    width: 90%;
    border-radius: 5px;
    padding: 60px 20px;
  }
  .about-details {
    flex-wrap: wrap;
  }
  .about-details .about-box {
    margin-top: 30px;
  }
  .about-des {
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
  }
  #skill-section {
    width: 90%;
    margin: 60px auto;
  }
  .skill-box {
    text-align: center;
    margin-top: 15px;
  }
  .skill-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .resume-container {
    flex-direction: column;
    text-align: center;
  }
  .resume-box {
    width: 100%;
    margin-top: 30px;
  }
  #footer {
    flex-direction: column;
    padding: 60px 10px;
  }
  #form input[type="text"],
  #form input[type="email"] {
    width: 100%;
    height: 55px;
    padding: 16px 28px;

  }
  #form textarea{
    width: 100%;
  }
  .footer-left{
    text-align: center;
  }
  .footer-right h2{
    text-align: center;
  }
  .footer-right{
    margin-top: 30px;
  }
  #resume{
    margin: 60px auto;
  }



}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .navbar {
    padding: 35px 100px;
  }
  .footer-right{
    margin-top: 40px;
  }
  
  .main-container {
    padding: 0px 100px;
  }
  #developer {
    left: 15px;
  }
  .main-info h3 {
    font-size: 40px;
  }
  .main-info h1 {
    font-size: 50px;
  }
  .main-info p {
    font-size: 17px;
  }
  #pro-pic {
    width: 330px;
  }
  #header {
    background-size: 400px;
  }
  .btn-primary {
    font-size: 16px;
  }
  .contact-btn .btn-primary {
    margin-right: 15px;
  }
  .main-img {
    right: 10px;
  }
  .skill-container {
    flex-wrap: wrap;
  }
  .skill-box {
    width: 46%;
    margin-top: 20px;
  }
  #footer {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1068px) {
  .navbar {
    padding: 40px 150px;
  }
  .main-container {
    padding: 0px 150px;
  }
  .resume-container {
    flex-wrap: wrap;
  }

  #developer {
    left: 40px;
  }
  .main-info h3 {
    font-size: 40px;
  }
  .main-info h1 {
    font-size: 60px;
  }
  .main-info p {
    font-size: 16px;
  }
  #pro-pic {
    width: 300px;
  }
  #header {
    background-size: 400px;
  }
  .btn-primary {
    font-size: 16px;
  }
  .contact-btn .btn-primary {
    margin-right: 30px;
    margin-top: 10px;
  }
  .contact-btn {
    display: inline-block;
    flex-direction: column;
  }
}
